{% extends 'base.html' %}

{% block content %}

<p><h3>Welcome to Fairy Tale reviews!</h3>
<h4>Browse reviews here or sign up/sign in to write your own.</h4></p>

<div class="posted-review" align="center">
<p>
		{% for review in reviews|dictsort:"story" %}
		<div class="col-md-2">
			<span class="stars">{{ review.stars_overall }}
			<span class="glyphicon glyphicon-star"></span></span>
			<br />
			<span class="title">{{ review.get_story_display }}</span>
		</div>
		{% endfor %}

<p>
</div>

{% endblock %}