

.navbar-default {
	border-radius: 0px;
}

a.navbar-brand {
	font-family: 'Love Ya Like A Sister', serif;
	color: #B96A9A;
}

body {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: #9CC089;
}

a:hover {
	color: #D889B8;
}