

.navbar-custom  {
	border-radius: 0px;
	background-color: white;
	font-family: 'Love Ya Like A Sister', serif;
}

.navbar-brand {
	color: #B96A9A !important;
}

body {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: #9CC089;
}

a:hover {
	color: #1F7278;
}

.title {
	font-family: 'Love Ya Like A Sister', serif;
	font-size: 1.3em;
}

.stars {
	color: #B8AA54;
	font-size: 2em;
}

.posted-review .col-md-2 {
	padding-top: 15px;
	padding-bottom: 25px;
}

th {
	padding: 10px;
}
