

.navbar-custom  {
	border-radius: 0px;
	background-color: white;
	font-family: 'Love Ya Like A Sister', serif;
}

.navbar-brand {
	color: #B96A9A !important;
	font-size: 1.7em;
}

body {
	font-family: 'Open Sans', sans-serif;
}

a {
	color: #1F7278;
}

a:hover {
	color: white;
	background-color: #1F7278;
	text-decoration: none;
}

.btn {
	color: #1F7278;
	font-weight: bold;
	background-color: white;
	border-radius: 0px;
	border-style: solid;
	border-width: 4px;
	border-color: #1F7278
}

.btn:hover {
	color: white;
	background-color: #1F7278;
	border-radius: 0px;
}

/*input {
	color: #1F7278;
	font-weight: bold;
	background-color: white;
	border-radius: 0px;
	border-style: solid;
	border-width: 4px;
	border-color: #1F7278
}

input:hover {
	color: white;
	background-color: #1F7278;
	border-radius: 0px;
}*/

.title {
	font-family: 'Love Ya Like A Sister', serif;
	font-size: 1.3em;
}

.stars {
	color: #B8AA54;
	font-size: 2em;
}

.posted-review .col-md-2 {
	padding-top: 15px;
	padding-bottom: 25px;
}

th {
	padding: 10px;
}
